{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Change password' %}{% if site.name %} - {{ site.name }}{% endif %}{% endblock title %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5">
      <div class="card">
        <article class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <div class="text-secondary my-3">
                  <i class="fas fa-key fa-2x"></i>
                </div>
              </div>
              <div class="col-sm-10">
                <h6 class="card-title">{% trans "Change Password" %}</h6>
                <p>{% trans "It is a good idea using a password that you did not use before." %}</p>
              </div>
            </div>
          </div>
          <hr>
          <form method="post">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input id="{{ field.id_for_label }}" class="form-control"
                               type="password" name="{{ field.html_name }}">

                    </div>
                <p class="text-danger">
                    {% for error in field.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
                </div>
                  <div class="form-group mt-3">
                      {% if field.help_text %}
                        <p>{% trans "Please remember," %}</p>
                        {{ field.help_text|escape }}
                      {% endif %}
                  </div>
              {% endfor %}
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-danger btn-block"> {% trans "Change" %}  </button>
              </div>
              <div class="form-group mt-3">
                <a href="{% url 'users:password_reset' %}"> {% trans "Forgot password?" %}</a>
              </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>

{% endblock content %}