{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New password" %}{% if site.name %} - {{ site.name }}{% endif %}{% endblock title %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5">
        <div class="card">
          <article class="card-body">
            <h4 class="card-title mb-4 mt-1">{% trans "Reset Password Confirm" %}</h4>
            <hr>
            {% if form.visible_fields %}
                <form method="post">
                  {% csrf_token %}
                  <p class="mb-2">{% trans "Almost finished! Please set the new password to finish the process." %}</p>
                  <hr>
                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                		</div>
                        <input id="{{ field.id_for_label }}" class="form-control"
                          type="password" name="{{ field.html_name }}">
                      </div>
                      <p class="text-danger">
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                      </p>
                      <div class="mt-3">
                          {% if field.help_text %}
                            <p>{% trans "Please remember," %}</p>
                            {{ field.help_text|escape }}
                          {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-block"> {% trans "Change" %}  </button>
                  </div>
                </form>
            {% else %}
                <p>{% trans "We are sorry. This link has used before. If you have trouble with logging in please click below to get email information again." %}</p>
                <div class="form-group mt-3">
                  <a href="{% url 'users:password_reset' %}" class="btn btn-outline-danger btn-block">{% trans "Send email again" %}</a>
                </div>
            {% endif %}
          </article>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
