{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
<section class="section-content bg padding-y">
	<div class="container">
		<div class="row">
			<aside class="col-md-4 mt-3">
				<div class="list-group">
					<article class="list-group-item">
						<div class="aside text-center">
							<img src="{{ object.get_image_url }}" alt="{{ object.username }}" class="img-md rounded-circle">
							{% if request.user == object %}
							<form action="{% url 'users:update_image' %}" class="mt-4" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">
									<div class="col-12">
										<div class="form-group float-left">
											<div class="upload-btn-wrapper">
												<button class="image-btn"><i class="fas fa-camera"></i></button>
												<span id="selected" style="font-size: .8em;"></span>
												<input required class="form-control" type="file" id="profile_image" name="profile_image" accept="image/png, image/jpeg">
											</div>
										</div>
										<div class="form-group float-right my-2" id="submitAvatar" style="display: none;">
											<button class="btn btn-dark btn-sm" type="submit" name="button">{% trans "Change" %}</button>
										</div>
									</div>
								</div>
							</form>
							{% endif %}
						</div>
						<h5 class="text-center mt-3">{{ object.username }}</h5>
						<div class="nav flex-column nav-pills mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							{% if request.user == object %}
								<a class="nav-link active" id="v-pills-profile-tab"
                                   data-toggle="pill"
                                   href="#v-pills-profile"
                                   role="tab"
                                   aria-controls="v-pills-profile"
                                   aria-selected="false">
									<i class="fas fa-user"></i>
									{% trans "Profile" %}
								</a>
							{% endif %}
							{% if object.distributor %}
								<a class="nav-link {% if not request.user == object %}active{% endif %}"
                                   id="v-pills-products-tab"
                                   data-toggle="pill"
                                   href="#v-pills-products"
                                   role="tab"
                                   aria-controls="v-pills-products"
                                   aria-selected="true">
									<i class="fas fa-certificate"></i>
									{% trans "Distributions" %}
								</a>
							{% endif %}
							{% if request.user == object %}
								<div class="dropdown-divider"></div>
								<a class="nav-link" id="v-pills-settings-tab"
                                   data-toggle="pill" href="#v-pills-settings" role="tab"
                                   aria-controls="v-pills-settings" aria-selected="false">
									<i class="fas fa-cog"></i>
									{% trans "Settings" %}
								</a>
							{% endif %}
						</div>
					</article>
				</div> <!-- list-group.// -->
			</aside> <!-- col.// -->
			<main class="col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
		        <div class="tab-pane fade {% if request.user == object %}show active{% endif %}"
                   id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
						<div class="row">
							<div class="col-md-6 mt-3">
								<article class="box h-100">
									<figure class="itembox text-center">
										<span class="mt-2 icon-wrap rounded icon-sm bg-success">
										<i class="fas fa-money-check-alt white"></i>
										</span>
										<figcaption class="text-wrap">
											<h5 class="title">{% trans "Current Billing" %}</h5>
                                            {% if request.user.billing %}
      											<p class="text-muted">{{ request.user.billing.get_country_display }}</p>
											    <p class="text-muted">{{ request.user.billing.get_address }}</p>
											    <p class="text-muted">{{ request.user.billing.notes }}</p>
                                            {% else %}
                                                <p class="text-muted">{% trans "Current Billing is not set." %}</p>
                                            {% endif %}
										</figcaption>
									</figure>
								</article>
							</div>
							<div class="col-md-6 mt-3">
								<article class="box h-100">
									<figure class="itembox text-center">
										<span class="mt-2 icon-wrap rounded icon-sm bg-warning">
										<i class="fas fa-truck-loading white"></i>
										</span>
										<figcaption class="text-wrap">
											<h5 class="title">{% trans "Current Shipping" %}</h5>
                                            {% if request.user.shipping %}
                                                <p class="text-muted">{{ request.user.shipping.get_country_display }}</p>
											    <p class="text-muted">{{ request.user.shipping.get_address }}</p>
											    <p class="text-muted">{{ request.user.shipping.notes }}</p>
                                            {% else %}
                                                <p class="text-muted">{% trans "Current Shipping is not set." %}</p>
                                            {% endif %}
										</figcaption>
									</figure>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h5 class="title-text">
										<span> {% trans "Addresses" %}</span>
										<a href="{% url 'address:create' %}" class="pl-2">
                                            <span class="my-2" style="font-size:.8em">{% trans "New" %}</span>
										</a>
								</h5>
							</div>
						</div>
                        <div class="row">
							{% for address in request.user.addresses.all  %}
								<div class="col-lg-6 mb-3">
									<article class="box h-100">
										<a href="{% url 'address:update' address.pk %}" role="button" class="btn btn-outline-danger"><i class="fas fa-wrench"></i></a>
										<button type="button" class="btn btn-outline-danger ml-2 address-delete" data-toggle="modal" data-target="#addressDeleteModal" id="{{address.pk}}">
										  <i class="fas fa-trash"></i>
										</button>
										<figure class="itembox text-center">
											<span class="mt-2 icon-wrap rounded icon-sm bg-dark"><i class="fas fa-truck white"></i></span>
											<figcaption class="text-wrap">
											<h5 class="title">{{ address.get_country_display }}</h5>
											<p class="text-muted">{{ address.get_address }}</p>
											<p class="text-muted">{{ address.notes }}</p>
											</figcaption>
										</figure>
										<form action="{% url 'users:update_address' %}" method="post">
											{% csrf_token %}
											<input type="hidden" name="address_pk" value="{{ address.pk }}">
                                            {% if address.pk != request.user.shipping.pk %}
                                                <button type="submit" name="shipping" class="btn btn-block btn-warning text-white">
                                                    {% trans "Set as current shipping" %}
                                                </button>
                                            {% endif %}
                                            {% if address.pk != request.user.billing.pk %}
                                                <button type="submit" name="billing" class="btn btn-block btn-success">
                                                    {% trans "Set as current billing" %}
                                                </button>
                                            {% endif %}
										</form>
									</article>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane fade {% if not request.user == object %}show active{% endif %}"
                         id="v-pills-products"
                         role="tabpanel"
                         aria-labelledby="v-pills-products-tab">
                        {% if not products %}
                            <div class="row">
                                <div class="col">
                                    <br>
                                    <p class="text-muted">{% trans "There is no saved product." %}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if products.accepted %}
                            <br>
                            <h6 class="text-muted">{% trans "Approved" %}<span> ({{ products.accepted.count }})</span></h6>
                        {% endif %}
                        <div class="row">
						{% for p in products.accepted %}
                                <div class="col-md-6">
                                    <figure class="card card-product">
                                        {% if p.is_todays_product %}
                                                <span class="badge-new"> {% trans "NEW" %} </span>
                                        {% endif %}
                                        {% if p.stock == 0 %}
                                                <span class="badge-new"> {% trans "NO STOCK" %} </span>
                                        {% endif %}
                                        {% if p.discount > 0 %}
                                                <span class="badge-offer"><b>{{ p.discount }}%</b></span>
                                        {% endif %}
                                        <div class="img-wrap">
                                                <img src="{{ p.get_first_image_url }}" alt="{{ p.name }}">
                                        </div>
                                        <figcaption class="info-wrap">
                                            <a href="{{ p.get_absolute_url }}" class="title">{{ p.name }}</a>
                                            <div class="action-wrap">
                                                <div class="row">
                                                    <div class="col-6 col-md-12 col-lg-6 col-xl-6">
                                                            <div class="price-wrap h5">
                                                                    {% if p.discount > 0 %}
                                                                            <del class="price-old">${{p.price}}</del>
                                                                    {% endif %}
                                                                    <span class="price-new">${{p.discount_price}}</span>
                                                            </div> <!-- price-wrap.// -->
                                                    </div>
                                                    {% if request.user == object and request.user.distributor %}
                                                    <div class="col-6 col-md-12 col-lg-6 col-xl-6">
                                                        <a role="button" href="{% url 'products:update' p.slug %}"
                                                            class="btn btn-outline-danger float-right">
                                                            <i class="fas fa-wrench"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-outline-danger float-right mr-2 product-delete"
                                                                data-toggle="modal" data-target="#productDeleteModal" id="{{p.pk}}">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div> <!-- action-wrap -->
                                        </figcaption>
                                    </figure> <!-- card // -->
                                </div> <!-- col // -->
						{% endfor %}
                        </div> <!-- row.// -->
                        {% if products.pending %}
                            <br>
                            <h6 class="text-muted">{% trans "Waiting for approvement" %}<span> ({{ products.pending.count }})</span></h6>
                        {% endif %}
							<div class="row">
								{% for p in products.pending %}
									<div class="col-md-6">
                                        <figure class="card card-product">
                                            {% if p.stock == 0 %}
                                                    <span class="badge-new"> {% trans "NO STOCK" %} </span>
                                            {% endif %}
                                            {% if p.discount > 0 %}
                                                    <span class="badge-offer"><b>{{ p.discount }}%</b></span>
                                            {% endif %}
                                            <div class="img-wrap">
                                                    <img src="{{ p.get_first_image_url }}" alt="{{ p.name }}">
                                            </div>
                                            <figcaption class="info-wrap">
                                                <a href="{{ p.get_absolute_url }}" class="title">{{ p.name }}</a>
                                                <div class="action-wrap">
                                                    <div class="row">
                                                        <div class="col-6 col-md-12 col-lg-6 col-xl-6">
                                                            <div class="price-wrap h5">
                                                                {% if p.discount > 0 %}
                                                                        <del class="price-old">${{ p.price }}</del>
                                                                {% endif %}
                                                                <span class="price-new">${{ p.discount_price }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
									</div>
								{% endfor %}
							</div>
                            {% if products.deleted %}
                                <br>
                                <h6 class="text-muted">{% trans "Waiting for deletion" %}<span> ({{ products.deleted.count }})</span></h6>
                            {% endif %}
							<div class="row">
								{% for p in products.deleted %}
									<div class="col-md-6">
                                        <figure class="card card-product">
                                            {% if p.stock == 0 %}
                                                    <span class="badge-new"> {% trans "NO STOCK" %} </span>
                                            {% endif %}
                                            {% if p.discount > 0 %}
                                                    <span class="badge-offer"><b>{{ p.discount }}%</b></span>
                                            {% endif %}
                                            <div class="img-wrap">
                                                    <img src="{{ p.get_first_image_url }}" alt="{{ p.name }}">
                                            </div>
                                            <figcaption class="info-wrap">
                                                <a href="{{ p.get_absolute_url }}" class="title">{{ p.name }}</a>
                                                <div class="action-wrap">
                                                    <div class="row">
                                                        <div class="col-6 col-md-12 col-lg-6 col-xl-6">
                                                            <div class="price-wrap h5">
                                                                {% if p.discount > 0 %}
                                                                        <del class="price-old">${{ p.price }}</del>
                                                                {% endif %}
                                                                <span class="price-new">${{ p.discount_price }}</span>
                                                            </div> <!-- price-wrap.// -->
                                                        </div>
                                                    </div>
                                                </div> <!-- action-wrap -->
                                            </figcaption>
                                        </figure> <!-- card // -->
									</div> <!-- col // -->
								{% endfor %}
							</div>
					</div>
		            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
						<div class="row">
							<div class="col">
								<h5 class="title-text">
                                    <span> {% trans "Personal" %}</span>
                                    <a href="{% url 'users:update' %}" class="pl-2">
                                        <span class="my-2" style="font-size:.8em">{% trans "Change" %}</span>
                                    </a>
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p><span class="text-muted">{% trans "Username:" %}</span> {{ object.username }}</p>
								<p><span class="text-muted">{% trans "Email:" %}</span> {{ object.email }}</p>
								<p><span class="text-muted">{% trans "First name:" %}</span> {{ object.first_name }}</p>
								<p><span class="text-muted">{% trans "Last name:" %}</span> {{ object.last_name }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h5 class="title-text">{% trans "Security" %}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h6><a href="{% url 'users:password_change' %}">{% trans "Change Password" %}</a></h6>
								<h6><a href="{% url 'users:password_reset' %}">{% trans "Forgot Password" %}</a></h6>
								<h6><a href="javascript:void(0)" data-toggle="modal" data-target="#accountDeleteModal">{% trans "Delete Account" %}</a></h6>
							</div>
						</div>
					</div>
                </div>
			</main> <!-- col.// -->
		</div>
	</div> <!-- container .//  -->
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="addressDeleteModal" aria-labelledby="addressDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{% trans "Are you sure you want to delete the address?" %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
				<form action="{% url 'address:delete' %}" method="post">
					{% csrf_token %}
					<input type="hidden" id="addressPk" name="id" value="0">
					<button type="submit" name="button" class="btn btn-danger">{% trans "Delete" %}</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% comment %}<div class="modal fade" tabindex="-1" role="dialog" id="productDeleteModal" aria-labelledby="productDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{% trans "Are you sure you want to delete the product?" %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
				<form action="{% url 'products:delete_request' %}" method="post">
					{% csrf_token %}
					<input type="hidden" id="productPk" name="id" value="0">
					<button type="submit" name="button" class="btn btn-danger">{% trans "Delete" %}</button>
				</form>
			</div>
		</div>
	</div>
</div>{% endcomment %}

<div class="modal fade" tabindex="-1" role="dialog" id="accountDeleteModal" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{% trans "Are you sure you want to delete your account?" %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
				<form action="{% url 'users:delete' %}" method="post">{% csrf_token %}
					<button type="submit" name="button" class="btn btn-danger">{% trans "Delete" %}</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
	$('#profile_image').on('change', function() {
		$('#selected').html("../" + this.files.item(0).name);
		$('#submitAvatar').show()
	});

	$('.address-delete').click(function() {
		var id = parseInt($(this).attr('id'));
		$('#addressPk').val(id);
	});

	$('.product-delete').click(function() {
		var id = parseInt($(this).attr('id'));
		$('#productPk').val(id);
	});
</script>
{% endblock script %}
