{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ request.user.username }} | {% trans "Account" %}{% endblock title %}
{% block content %}
    <div class="container">
        <nav class="mb-4 mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li class="breadcrumb-item"><a href="{{ request.user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Update Profile Informations" %}</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-2">
                <div class="card">
                    <article class="card-body">
                        <h5 class="card-title text-center">{% trans "Update Info" %}</h5>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                    {{ field }}
                                    <p class="text-danger text-center">
                                        {% for error in field.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="form-group mt-3">
                                    {% if field.help_text %}
                                        <p>{% trans "Please remember," %}</p>
                                        {{ field.help_text|escape }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-danger btn-block"> {% trans "Change" %}  </button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
