{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ products.all.count }} | {% trans "waiting for approvement" %}{% endblock title %}
{% block content %}
<section class="section-content bg padding-y border-top">
	<div class="container">
		<nav class="mb-4 mt-3">
			<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{% trans "Approvement pending products" %}</li>
			</ol>
		</nav>
		<div class="row">
				<main class="col-sm-12 mb-4">
					{% if products.all.count > 0 %}
					<div class="card">
						<table class="table shopping-cart-wrap">
							<thead class="text-muted">
								<tr>
									<th scope="col" width="20%">{% trans "Product" %}</th>
									<th scope="col" width="20%">{% trans "Name" %}</th>
									<th scope="col" width="15%">{% trans "Stock" %}</th>
									<th scope="col" width="10%">{% trans "Price" %}</th>
									<th scope="col" width="10%">{% trans "" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
								<tr>
									<td class="align-middle">
										<figure class="media">
											<div class="img-wrap">
												<img src="{{ product.get_first_image_url }}" alt="{{ product.name }}"
														class="img-thumbnail img-sm">
											</div>
										</figure>
									</td>
									<td class="align-middle">
										<h6 class="title">
											<a href="{{ product.get_absolute_url }}">
												{{ product.name }}
											</a>
										</h6>
									</td>
									<td class="align-middle">
										<p>{{ product.stock }}</p>
									</td>
									<td class="align-middle">
										<p>${{ product.price }}</p>
									</td>
									<td>
										<div class="row">
											<div class="col-6">
												<form action="{% url 'products:approve' product.slug %}" method="post">
													{% csrf_token %}
													<button type="submit" name="button"
														class="btn btn-outline-success my-4">
														<i class="fas fa-check"></i>
													</button>
												</form>
											</div>
											<div class="col-6 pl-0">
												<form action="{% url 'products:reject' product.slug %}" method="post">
													{% csrf_token %}
													<button type="submit" name="button" class="btn btn-outline-danger my-4">
														<i class="fas fa-minus"></i>
													</button>
												</form>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div> <!-- card.// -->
					{% else %}
					<h5 class="text-center">
						{% trans "There are currently no registered products." %}
					</h5>
					{% endif %}

					{% if is_paginated %}
					<nav aria-label="Page navigation" class="mt-3">
						<ul class="pagination justify-content-end">
							{% if page_obj.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<a href="javascript:void(0)" class="page-link">
										<span>&laquo;</span>
									</a>
								</li>
							{% endif %}
							{% for i in paginator.page_range %}
								{% if page_obj.number == i %}
									<li class="page-item active">
										<a class="page-link" href="?page={{ i }}">
											<span aria-hidden="true">{{ i }}</span>
											<span class="sr-only">(current)</span>
										</a>
									</li>
								{% else %}
									<li class="page-item">
										<a class="page-link" href="?page={{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.next_page_number }}">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<a href="javascript:void(0)" class="page-link">
										<span>&raquo;</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
					{% endif %}
				</main> <!-- col.// -->
      </div>
    </div>
</section>
{% endblock content %}
